@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Titillium+Web:wght@300&display=swap');


@import "navbar";
@import "container";
@import "reset";
@import "video";
@import "footer";
@import "variable";

.btn{
    padding: map-get($btn , padding);
    border: map-get($btn , border );
    border-radius: map-get($btn: radio);
   @include propiedades(100px,auto, #ffff )

}


@mixin propiedades ($ancho,$alto,colorLetra) {
    width: $ancho;
    heigh: $alto;
    color: $colorLetra;
}

